@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scroll{
   @apply overflow-x-auto p-2 scroll-smooth flex-nowrap
}
.hide-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar{
  height: 0;
  width: 0;
}
.text-xxs{
  font-size: 10px;
}

.btn{
  @apply inline-flex items-center justify-center px-3 py-2 rounded-3xl
}

.btn-main{
  @apply bg-main text-white
}

.btn-outline-main{
  @apply border border-main text-main hover:border-transparent hover:bg-main hover:text-white
}

.form-label{
  @apply block font-medium mb-3
}

.form-control{
  @apply p-2 border border-gray-300 block w-full rounded outline-none hover:border-main-500 focus:border-main-500
}

.collection-card:hover .collection-card-overlay{
  display: flex;
}

#genericPageHeader{
  background: linear-gradient(rgba(8,45,37,.6),rgba(8,45,37,.6)), url('http://localhost:3000/media/images/bg/bg1.webp') no-repeat center center/cover;
}

.about-us-text p{
  margin-bottom: 1rem;
}

.product-card:hover .product-card-actions{
  display: flex;
}

.page-link{
  @apply py-2 px-3 border border-gray-300 leading-tight ml-0 bg-white hover:bg-main-100 hover:border-main-500 hover:text-main
}

.page-link.active{
  @apply border-main-100 bg-main-100 text-main hover:bg-main hover:text-white hover:border-transparent
}

.footer-link{
  @apply text-main hover:text-main-600
}